
*{ margin:0; padding:0; box-sizing: border-box;}


.wrapper{
    width:1200px;
    margin:0 auto;
}

h1, h2{ 
    font-family:var(--font2);
    font-weight: normal;
    text-transform: uppercase;
}
p {
    font-family: var(--font1);
    line-height: 1.5;
}

/* header */
header {
    background: white;
  }
  #headerContent {
    display: flex;
    justify-content: space-between;
  }
  #headerRight {
    display: flex;
    align-items: center;
  }
  #mainMenu {
    display: flex;
    margin-right: 30px;
  }

  #mainMenu > span {
    font-family: var(--font1);
    margin: 0 10px;
    font-size: 22px;
    color: #555;
    padding: 10px 0;
  }
  #mainMenu > a {
    font-family: var(--font1);
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    font-size: 22px;
    padding: 10px 0;
  }
  #mainMenu > a:hover, .active{
    background: url(design02-resources/up-arrow.svg) no-repeat center bottom;
  }
  #logo {
    margin: 20px 0px;
  }
  /* Footer */
  footer {
    background: #111;
    padding: 30px 0;
    
  }
  #footerMenu{
    display: flex;
    justify-content: center;
  }
  #footerMenu > a , #footerMenu > span{
    font-family: var(--font1);
    color: #af1e4e;
    font-size: 20px;
  }
  #footerMenu > a {
    text-decoration: none;
    text-transform: uppercase;
  }
  #footerMenu > span {
    padding: 0 5px;
  }
  #footerText{
    font-size: 14px;
    text-align: center;
    color: #444;
  }